.node {
  cursor: pointer;
  stroke: green;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
    .style("left", "1000px")
    .style("top", "30px");
}

div#detail {
  position: absolute;
  text-align: left;
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-color: purple;
  border-radius: 8px;
  left: 1100px;
  top: 120px;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 12pt;
}

h1, h2 {
  font-family: 'Jura', sans-serif;
  color: purple;
}

span {
  padding-left: 10px;
}

.page {
  padding-left: 25px;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.rankingRect:hover {
  cursor: pointer;
}

ul, li {
  display: inline;
}

div#details {
  position: absolute;
  top: 0;
  left: 3000;
}
