.node {
  cursor: pointer;
  stroke: green;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

span.rating {
  font-family: 'Candal', sans-serif;
  padding-left: 10px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: purple;
  border-radius: 8px;
  pointer-events: none;
  background: #C791DB;
  opacity: 0;
}

div#detail {
  position: absolute;
  text-align: left;
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-color: purple;
  border-radius: 8px;
  left: 1300px;
  top: 120px;
  height: 1000px;
  overflow-y: scroll;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 12pt;
}

h1, h2 {
  font-family: 'Jura', sans-serif;
  color: purple;
}

h1 {
  font-size: 50px;
}

span {
  padding-left: 10px;
}

.page {
  padding-left: 25px;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
  fill-opacity: 0.8;
}

line.link {
  fill: none;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .minor {
  stroke: gray;
  stroke-width: 1px;
}

.rankingRect:hover {
  cursor: pointer;
}

ul, li {
  display: inline;
}

div#details {
  position: absolute;
  top: 0;
  left: 3000;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.text {
  width: 200px;
}
